.list-col {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.list-col .list-item {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  border-bottom: 1px solid #eeeeee;
}

.list-title {
  width: 100%;
  margin: 4px 0;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 16px;
}
.list-content {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  margin: 8px 0 16px 0;
  box-sizing: border-box;
  padding: 8px 16px;
}

.list-reg {
  display: flex;
  gap: 16px;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  padding: 8px 16px;
}
.list-reg-user,
.list-reg-dt {
  font-size: 12px;
  margin: 4px 0;
}

.list-reg-dt {
  text-align: right;
}

.list-item:hover {
  background-color: #d9d9d9;
}

/* vet */
.vet-list-item {
  display: flex;
  margin: 8px 0;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 1px 1px 2px 2px rgba(180, 180, 180, 0.2);
}
.vet-list-info {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.vet-list-name {
  font-weight: 700;
}
.vet-list-hospital,
.vet-list-time {
  font-size: 12px;
  color: #666565;
}
.vet-list-img {
  width: 60px;
  height: 60px;
}

.vet-list-img > img {
  max-width: 100%;
  border-radius: 50%;
}

.list-item.v-exp > div {
  padding: 16px;
}
.v-exp:first-child::before {
  content: "";
  width: 100%;
  background-color: #eeeeee;
  height: 10px;
}
