#user-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 8px;
}

#user-info > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

#input-img {
  display: none;
}

.ss ~ .react-ios-time-picker>.react-ios-time-picker-btn-container,.ss ~ .react-ios-time-picker>.react-ios-time-picker-container{
  background-color: white;

}
.ss ~ .react-ios-time-picker>.react-ios-time-picker-btn-container>button{
  color: black;
}
.ss ~ .react-ios-time-picker>.react-ios-time-picker-container>.react-ios-time-picker-hour>div>.react-ios-time-picker-cell-hour>div:hover
,.ss ~ .react-ios-time-picker>.react-ios-time-picker-container>.react-ios-time-picker-minute>div>.react-ios-time-picker-cell-minute>div:hover{
  background-color:var(--mainColor);
}
.ss ~ .react-ios-time-picker>.react-ios-time-picker-container>.react-ios-time-picker-selected-overlay{
  background-color:var(--mainColor);
}