/* petList.js */

/* 
.petinfo-list-petImage:hover{
    transform: scale(1.5);
} */

.petinfo-list-petImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.petinfo-list-petName:hover {
  text-decoration: underline;
}

.petinfo-list-item {
  display: inline-block;
  margin: 8px 8px 8px 8px;
  padding: 8px 8px 8px 8px;
  width: calc(50% - 40px);
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.petinfo-list-item:hover {
  /* background-color: #d9d9d9; */
  background-color: #cef6ce;
}

/* petDetail.js */

.pet-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.pet-item-name {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.pet-detail-wrap {
  display: flex;
  flex-grow: 0;
  justify-content:center; 
  margin: 5px;
  border-bottom: 2px solid #d8d8d8;
  text-align: center;
}
.pet-item-age {
  display: inline-block;
  border-radius: 10px;
  background-color: #d8d8d8;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.pet-item-gender {
  display: inline-block;
  border-radius: 10px;
  background-color: #d8d8d8;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.pet-item-breed {
  display: inline-block;
  border-radius: 10px;
  background-color: #d8d8d8;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.pet-item-weight {
  display: inline-block;
  border-radius: 10px;
  background-color: #d8d8d8;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.pet-intro{
  margin:10px;
  font-weight: bold;
  color:#A4A4A4;
}
.pet-item-intro{
  margin: 10px;

}
/* petDetail */

.petinfo-btn-update {
  display: inline-block;
  width: calc(50% - (44px));
  text-align: center;
  background-color: #5858fa;
  margin: 10px 10px 10px 10px;
  border: 2px solid #0000ff;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
}

.petinfo-btn-update:hover {
  background-color: #2e2efe;
  font-size: 30px;
  transition-duration: 0.2s;
}

.petinfo-btn-delete {
  display: inline-block;
  width: calc(50% - (44px));
  text-align: center;
  background-color: #fa5858;
  margin: 10px 10px 10px 10px;
  border: 2px solid #ff0000;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  padding: 10px;
}

.petinfo-btn-delete:hover {
  background-color: #df0101;
  font-size: 30px;
  transition-duration: 0.2s;
}

.petupdate-detail div {
  margin: 10px 10px 10px 10px;
}

/* petInsert.js */

.insert_title{
  font-weight:bold;
  font-size: 15px;
  margin:0px 0px 0px 0px;
}


/* petUpdate.js */

.petData-input {
  width: calc(100% - 12px);
  font-size:20px;
  padding:5px;
  margin:0px 0px 10px 0px;
  border:none;
  &:focus{
    border-bottom: 2px solid#000000;
    outline:none; }
  border-bottom: 1px solid #a9a9a9;
}
