#modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-wrap #modal {
  background-color: white;
  min-width: 10vw;
  min-height: 10vh;
  max-width: 320px;
  max-height: 50vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 8px;
  border-radius: 16px;
  box-shadow: 1px 1px 6px 1px rgba(200, 200, 200, 0.5);
}

#modal-wrap #modal #modal-header {
  min-height: 20px;
  margin: 8px;
}
#modal-wrap #modal #modal-body {
  min-height: 20px;
  margin: 16px;
}
#modal-wrap #modal #modal-btn {
  min-height: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin: 8px;
}
