#camera {
  position: relative;
  overflow: hidden;
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

#camera-detail{
  height:100%;
}
video {
  max-width: 100%;
  max-height: 100%;
  /* position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%); */
}

.camera-control {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  width: 88%;
  box-sizing: border-box;
  justify-content: space-between;
  color: white;
  padding: 16px 38px;
  border-radius: 12px;
  font-size: 24px;
  cursor: pointer;
  background-color: rgba(90,90,90,0.5);
}
.camera-btn {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
}

.camera-guide-line {
  border-radius: 50%;
  width: 88px;
  height: 88px;
  border: 1px solid red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.camera-hide {
  display: none;
}
.camera-show {
  display: block;
}

#camera-shot {
  width: 50%;
}

#ai-graph{
  width: calc(100% - 32px);
  padding: 0 16px;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows:50% 30% ;  
  text-align: center;
  height:40%;
}

#ai-graph>div:nth-child(1) {
  grid-column: 1/5;
}
#ai-result {
  width:100%;
  height:50%;
}
#ai-result > div {
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0 0;
  padding: 0 0 24px 0 ;
}
#ai-result .title {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  margin: 16px;
}

#ai-result img{
  height:100%;
  max-height: 100%;
}

#ai-result p {
  height: 100%;
  font-size: 12px;
  padding: 8px;
  width: calc(100% - 16px);
  overflow: auto;
  border: 1px solid #d9d9d9;
}


#camera-select{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:24px;
}

#camera-select div{
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid black;
  cursor:pointer;
}
#camera-select label{
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid black;
  cursor:pointer;

}