:root {
  --headerHeight: 48px;
  --bottomNavHeight: 56px;
  --mainColor: #3eebad;
  --mainActiveColor: #1eb981;
  --maxWidth: 546px;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
*{

  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

/* id */
#main {
  width: 100%;
  height: 100%;
  max-width: var(--maxWidth);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* class */
[class*="pointer"],
[class*="btn"] {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class*="flex-"] {
  display: flex;
}

[class*="flex-column"] {
  flex-direction: column;
}

[class*="flex-align-center"] {
  align-items: center;
}
[class*="error"] {
  color: red;
}

/* class */
.content {
  width: 100%;
  /* height:calc(100% - var(--headerHeight) - var(--bottomNavHeight)) */
  flex-grow: 1;
  overflow: auto;
  position: relative;
  
}

.span-v-bar {
  font-size: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.span-v-bar span {
  cursor: pointer;
}
.span-v-bar span:nth-child(n*2) {
  display: inline-block;
  width: 1px;
  background-color: #d7d7d7;
}

/* layout flex */

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-row-between {
  justify-content: space-between;
  align-items: center;
}
.flex-row-center {
  justify-content: center;
}

/* button */

.btn-fill {
  border-radius: 20px;
  font-size: 22px;
  padding: 18px;
  text-align: center;
  cursor: pointer;
}
.btn-only-border {
  border-radius: 16px;
  border: 1px solid var(--mainColor);
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  max-width: 80px;
}

.btn-only-border span {
  display: inline-block;
  width: 49px;
  text-align: center;
}

/* background */

.bg-main {
  background-color: var(--mainColor);
}
.bg-gray {
  background-color: #d7d7d7;
}
.bg-gray-opacity {
  background-color: rgba(215, 215, 215, 0.6);
}

/* text */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.tex-right {
  text-align: right;
}

/* scroll bar */
.scroll-hide::-webkit-scrollbar {
  display: none;
}

/* padding */

.padding-top-16 {
  padding-top: 16px;
}
.padding-bottom-16 {
  padding-bottom: 16px;
}
.padding-left-16 {
  padding-left: 16px;
}
.padding-right-16 {
  padding-right: 16px;
}

/* form */

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 28px 0;
  margin-bottom: 28px;
}

/* form-item */

.form-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  margin: 10px;
}

.form-item input {
  width: 100%;
}

.form-item small {
  position: absolute;
  bottom: -16px;
  right: 0;
  font-size: 8px;
}

.form-item .required {
  color: red;
}

.form-item .border-none {
  border: none;
}
.form-item .border-none:focus {
  outline: none;
}

.form-item-input {
  border: none;
  font-size: 18px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.5);
  box-sizing: border-box;
}
.form-item-input:focus {
  outline: none;
}
.form-item-textarea {
  border: none;
  padding: 20px;
  font-size: 18px;
  margin: 10px;
  resize: none;
  box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.5);
}

.input-wrap {
  border-radius: 8px;
  padding: 12px 16px;
  border: 1px solid #d7d7d7;
}

.banner {
  width: 100%;
  height: 64px;
}

.form-item-title {
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid black;
  padding: 20px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
}

.btn-ellipsis {
  padding: "16px";
  position: "relative";
  cursor: "pointer";
  z-index: 500;
}

.padding-h-regular{
  padding:0 16px;
}