.career-input {
  display: block;
  border-radius: 10px;
  background-color: #d8d8d8;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}

.ant-card-head-title {
  font-size: 30px;
}
.insert-title {
  font-weight: bold;
  font-size: 15px;
  margin: 0px 0px 0px 5px;
}

.vetData-input {
  width: calc(100% - 12px);
  font-size: 15px;
  padding: 5px;
  border: none;
  &:focus {
    border-bottom: 2px solid#000000;
    outline: none;
  }
  border-bottom: 1px solid #a9a9a9;
  margin: 0px 0px 10px 0px;
}
.intro-area {
  /* resize: vertical;
    overflow: hidden; */
  font-family: "Noto Sans KR", sans-serif;
  resize: none;
  width: calc(100% - 12px);
  background-color: #f2f2f2;
  font-size: 15px;
  padding: 5px;
  border: none;
  &:focus {
    border: 2px solid #a9a9a9;
    outline: none;
  }
  border-bottom: 1px solid #a9a9a9;
}

.career-area {
  /* resize: vertical;
      overflow: hidden; */
  font-family: "Noto Sans KR", sans-serif;
  resize: none;
  width: calc(100% - 12px);
  background-color: #f2f2f2;
  font-size: 15px;
  padding: 5px;
  border: none;
  &:focus {
    border: 2px solid #a9a9a9;
    outline: none;
  }
  border-bottom: 1px solid #a9a9a9;
}
